services:
  keycloak:
    image: hassu/keycloak-suomifi
    environment:
      KC_HTTP_ENABLED: "true"
      KC_HTTP_MANAGEMENT_RELATIVE_PATH: "/"
      KC_HTTP_MANAGEMENT_SCHEME: "http"
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_RELATIVE_PATH: "/keycloak/auth"
      KC_DB: dev-file
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloakpass123
      KC_BOOTSTRAP_ADMIN_USERNAME: kcadmin
      KC_BOOTSTRAP_ADMIN_PASSWORD: kcadminpass123
    ports:
      - "8080:8080"
      - "9000:9000"